@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #fafafa;
}
.custom-list {
  list-style-type: decimal;
}
.h-screen {
  height: 80vh;
}
.h-max {
  height: 50vh;
}
.mod-f {
  -webkit-justify-content: center !important;
}
h1,
h2 {
  font-family: "Inter", sans-serif;
}
.header {
  font-size: 0.9rem;
  border-radius: 0px;
  background: #141414;
  color: #fff;
  box-shadow: 1px 2px 12px #dcdcdc, -6px -6px 12px #ffffff;
}
.hover-bg:hover {
  color: #e8e8e8;
}
.bgcolor {
  background-color: #fafafa;
}
div > .create-btn-sm {
  display: none;
}
.create-btn {
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.create-btn:hover {
  color: #ffffff;
  background-color: transparent;
}
.search-filter {
  max-width: 80%;
  width: 40%;
}

.repo-card {
  height: 140px;
  width: 240px;
}
.repo-name {
  font-size: 0.8rem;
}
.new-repo-name,
.new-repo-des {
  font-size: 0.9rem;
}
.action-btn {
  position: relative;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  font-size: 0.8rem;
}

.action-btn:hover::before {
  width: 100%;
  background-color: #242424;
  transition: width 700ms ease-in-out;
}
.action-btn:focus {
  border: 2px solid #e8e8e8;
}
.search-width {
  width: 25%;
}
.css-1oxhx2p {
  top: 20% !important;
}
.modal-container {
  font-family: "Inter", sans-serif;
}
.modal-head-font {
  font-size: 1rem;
}
.css-1eramkb {
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.input {
  background-color: #f7f7f7;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 20px;
}
.error {
  color: red;
  margin-right: 12px;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 12px;
    font-size: 0.8rem;
  }
  .create-btn {
    display: none;
  }
  div > .create-btn-sm {
    display: inline-flex;
    border: 2px solid #e8e8e8;
    color: #fff;
  }
  div > .create-btn-sm:hover {
    background-color: #fafafa;
    transition: all 0.5s;
    color: #121212;
  }
  .repo-list {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .repo-card {
    height: 140px;
    width: 100%;
  }
  .repo-info {
    font-size: 0.9rem;
  }
  .text-3xl {
    font-size: 18px;
  }
  .text-md {
    font-size: 16px;
  }
  .test {
    margin-right: 0;
  }
}
@media screen and (max-width: 560px) {
  .header .h-icon {
    display: none;
  }
  .modal-container {
    width: 88% !important;
  }
}
@media screen and (max-width: 468px) {
  .header {
    padding: 8px;
  }
  .text-xl,
  p {
    font-size: 14px;
  }
  .text-4xl {
    font-size: 30px;
  }
  .testing-error-boundary {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 382px) {
  .p-4 {
    padding: 12px;
  }
  .text-3xl {
    font-size: 16px;
  }
  .text-md {
    font-size: 14px;
  }
}
